name: Run Flutter Tests

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Get Flutter dependencies
        run: flutter pub get

      - name: Run Flutter tests
        run: |
          set -e
          if [ ! -f .env.example ]; then
            echo "Error .env.example not found!"
            exit 1
          fi
          if [ ! -f mock_firebase_options.dart ]; then
            echo "Error mock_firebase_options.dart not found!"
            exit 1
          fi
          cp mock_firebase_options.dart lib/firebase_options.dart
          flutter test
